[submodule "open-simulation-interface"]
	path = open-simulation-interface
	url = https://github.com/OpenSimulationInterface/open-simulation-interface.git

[submodule "proto2cpp"]
	path = proto2cpp
	url = https://github.com/OpenSimulationInterface/proto2cpp.git
